#banner header p {
	color: #fece35;
}

input[type="button"], input[type="submit"], input[type="reset"], button, .button {
    background: #fece35;
}
a {
    color: #fece35;
}

.icon.featured {
    background-color: #827a7c;
    -moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	-ms-transition: background-color .25s ease-in-out;
	transition: background-color .25s ease-in-out;
}

.icon.featured::after {
    border-top: solid 2em #827a7c;
}

#banner {
    background: #CCE8F4 url("../../images/yvette-de-wit-118721.jpg");
    background-size: cover;
    background-position: center;
    padding: 15em 0;
}

.featured:hover {
	background-color: #fece35;
}

.featured:hover::after {
	border-top: solid 2em #fece35;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
    background: #827a7c;
}